<nav class="navbar mx-0 mx-md-4 roundedaNav bg-body-tertiary">
  <div class="w-100 d-flex justify-content-between">
    <div class="d-flex align-items-center ms-3">
      <img src="assets/logo.png" class="navLogo" alt="logo">
      <span class="navbar-brand fw-bolder">VCSE</span>
    </div>
    <div class="d-md-flex align-items-center me-3 d-none">
      <ul class="navbar-nav d-flex flex-row align-items-center">
        <li class="nav-item me-3">
          <a class="nav-link navItemHover" href="#">Kezdőlap</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link navItemHover" href="#">Versenyek</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link navItemHover" href="#">Rólunk</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#">
            <button class="btn btn-dark">
              Bejelentkezés
            </button>
          </a>
        </li>
      </ul>
    </div>
    <button class="btn px-2 py-2 d-block me-3 d-md-none" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation"><i
        class="bi bi-list fs-3"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menü</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-house-door-fill me-1"></i>Kezdőlap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-trophy-fill me-1"></i>Versenyek</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-people-fill me-1"></i>Rólunk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><button class="btn btn-dark">
                Bejelentkezés
              </button></a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>