.navLogo {
  width: 4rem;
  height: 4rem;
  margin-right: 0.8rem;
}

li {
  text-decoration: none;
}

.navItemHover {
  padding-bottom: 0;
  padding-top: 0;
}

.navItemHover:hover {
  border-bottom: 2px solid var(--dark-green);
}

.roundedaNav {
  z-index: 1;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 0 2rem;
  transition: all 0.5s ease;
}

.roundedaNav.scrolled {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .roundedaNav {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
  }
}